@font-face {
    font-family: "FriendsFont";
    src: url("../style/fonts/GabrielWeissFriendsFont.ttf");
}

*{
    padding : 0;
    margin : 0
}

header{
    height : 200px;
    background-color: black;
}

h1{
    font-size : 60px;
    font-family: 'FriendsFont';
    text-align: center;
    line-height:200px;
    color:white;
}

.fa-circle{
    font-size : 10px;
    vertical-align: middle;
}

.first-colour-circle{
    color :red;
}
.second-colour-circle{
    color:yellow;
}
.third-colour-circle{
    color:blue;
}
