@import "./utils/variables";
@import "./utils/fonts";
@import "./utils/mixins";


*{
    padding : 0;
    margin : 0
}

body{
    background-color: #8E84A7;
}

header{
    padding:80px 0;
    background-color: black; 
    @include tablette-only(){
        padding:60px 0;
    }
}

h1{
    @include text-style(60px);
    color:white;
}

.fa-circle{
    font-size : 10px;
    vertical-align: middle;
}

.first-colour-circle{
    color :red;
}
.second-colour-circle{
    color:yellow;
}
.third-colour-circle{
    color:blue;
}



.question-answers-block{
    width : 80%;
    margin : auto;
    margin-top:50px;
    border: 4px solid black;
}

.question{
    background-color: $primary-colour;
    @include text-style(40px);
    border: 1px solid black;
    line-height: 120px;
}

.quote{
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size : 30px;
    padding:40px 20px;
    background-color: $secondary-colour;
    border: 1px solid black;
}

.answers{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    @include tablette-only(){
        grid-template-columns: repeat(2, 1fr);
    }
    @include mobile-only(){
        grid-template-columns: 1fr;
    }
}

.answer-block{
    text-align: center;
    background-color: black;
    height:80px;
    display: flex;
    & p{
        @include text-style(25px);
        width:70%;
        padding:10px 0;
        margin:auto;
        border-radius: 30px;
        cursor: pointer;
        &:hover{
            box-shadow: 0px 3px 5px rgb(138, 138, 138);
        }
    }
}

.first-colour-answer{
    background-color: red;
    color:white;
    &:hover{
        background-color: lighten($color: red, $amount: 10%);
    }
}
.second-colour-answer{
    background-color: yellow;
    &:hover{
        background-color: lighten($color: yellow, $amount: 10%);
    }
}
.third-colour-answer{
    background-color: blue;
    color:white;
    &:hover{
        background-color: lighten($color: blue, $amount: 10%);
    }
}

.bottom-block{
    margin-top:30px;
    display:flex;
    justify-content: space-around;
    @include mobile-only(){
        flex-direction: column;
        align-items: center;
    }
}


.score-block{
    @include bottom-style();
}

.reset-button{
    @include bottom-style();
    cursor: pointer;
}

.ending-opacity{
    visibility:hidden;
    position: fixed;
    top:0;
    left:0;
    opacity: 40%;
    z-index: 2;
    width:100vw;
    height:100vh;
    background-color: white;
}

.ending-block{
    visibility:hidden;
    position:fixed;
    z-index: 3;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $secondary-colour;
    padding:100px;
    text-align: center;
    border : 10px outset $primary-colour;
    @include tablette-only(){
        padding:50px;
    }
    @include mobile-only(){
        padding:20px;
        width:100%;
    }
    & h2{
        padding-bottom: 30px;
        @include text-style(40px);
    }
    & p{
        font-size: 25px;
        padding-bottom: 20px;
        font-family: Helvetica, sans-serif;
    }
    & button{
        padding:20px;
        @include text-style(25px);
        cursor:pointer;
    }
}

.after-answering{
    visibility: hidden;
    position:absolute;
    z-index: 3;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    display:flex;
    @include text-style(80px);
    & p{
        margin:420px auto 0 auto;
    }
}
